<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<section>
    <div class="content-header">
        <p style="font-family: 'Work Sans'; font-size: 36px; font-weight: bold;">
            We are building the only course you will <br>need to get started. Fullstop.
        </p>
        <br>
        <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/dash.png" style="text-align: center;">
    </div>
    <br></br>
    <br></br>
    <div class="container-content">
        <div>
            <p class="title-content">Creators-taught live courses</p>
            <p class="text-content-left">
                Learn from the pros of their field. With our ‘do along’ <br>
                courses, get practical learnings and deeper insights to <br>
                jump-start your passion journey.
            </p>
        </div>
        <div class="image-content-right">
            <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/first.png" width="478" height="365.25px" >
        </div>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <br></br>
    <div class="container-content">
        <div class="image-content">
            <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/second.png" width="554px" height="426.75px" >
          </div>
        <div>
            <p class="title-content-right"> Learn by doing and get certified</p>
            <p class="text-content">
                Convert your knowledge into skill with projects <br>
                designed to maximize your skill level. Get certified for <br>
                your achievements. 
            </p>
        </div>
    </div>   
    <br></br>
    <br></br>
    <div class="container-content">
        <div>
            <p class="title-content-3">Learn with a community</p>
            <p class="text-content-left">
                Be a part of a learning community who will <br>
                challenge, inspire and support you. Make lifelong <br>
                friendships and have fun along the way. 
            </p>
        </div>
        <div class="image-content-right">
            <img src="https://kabirkedia.github.io/meet-site/img/Wave_illustrations/Allura Socializing.png" width="569px" height="343.5px" >
          </div>
    </div>

</section>