<meta name="viewport" content="width=device-width, initial-scale=1.0">
<header>
    <div class="header-content">
      <br></br>
      <br></br>
      <br></br>
        <div class="header-content-inner">
            <h1>You are one step away from becoming a </h1>
        </div>
        <br></br>
        <div class="row">
          <div class="column-img-header-left">
            <img src='https://wave-club-in.github.io/wave-site-mobile/img/Wave_illustrations/header_left.png' width= "403px" height= "340.09px">
          </div>
          <div class="column-img-header-right">
            <img src='https://wave-club-in.github.io/wave-site-mobile/img/Wave_illustrations/header_right.png' width="200.97px" height="200.93px" style="float: right;">
          </div>
          <div class="spinny-wrapper">
                          <div class="spinny-words">
              <span><center>Creator </center></span>
                   <span><center>Solopreneur</center></span>
                                      <span><center>Influencer</center></span>
            </div>
          </div>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <br></br>
          <div class="Wave-button-align">
            <button class="Wave-button" title="Be a Part Of Wave" onclick="location.href = 'https://wlnyt4o3sjy.typeform.com/to/i10KmGYF';">
              Be a part of Wave</button>
          </div>
    </div>
</header>
